DATABASE_URL=postgresql://urbanlease:password@localhost/urbanlease
PROXY_1=http://user:pass@proxy1.webshare.io:8080
PROXY_2=http://user:pass@proxy2.webshare.io:8080
SECRET_KEY=change-this-to-a-random-string
